{% extends 'base.html' %}

{% block content %}

<body>
    <h1> What do you want to update? </h1>
    <p>
        <div class='update'>
            <form method='POST' action='{{game.id}}'>
                <!-- Each field displays its label followed by the input field itself -->
                {{ update.game_name.label }} {{ update.game_name }}
                <br>
                {{ update.age_rating.label }} {{ update.age_rating }}
                <br>
                {{ update.price.label }} {{ update.price }}
                <br>
                {{ update.developer.label }} {{ update.developer }}
                <br>
                <!-- submit button -->
                {{ update.submit }}
                <br>
            </form>
        </div>
    </p>
</body>

{% endblock content %}